@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
    font-size: 3rem;
    text-shadow: 0.05em 0.05em 0.2em black
}
body{
    background-color: #b4d5bd;
}
div{
    max-width: 1000px;
    margin: auto;
    display: flex;
}
img{
    margin: auto;
    width: 50%;
    max-width: 500px;
}
.componente{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    background-color: azure;
    cursor: pointer;
    text-align: center;
}
.mostrar{
   transition: 1s;
   height: 480px;
}
.esconder{
    transition: 1s;
    height: 300px;
}

h3{
    color: black;
    margin-bottom: 10px;
    font-family: monospace;
}
h2{
    font-family: monospace;
    margin: 5px;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: block;
    margin:  auto;
    max-width: 100%;
    padding-top: 50px;
}
#squirtle{
    background-color: #f2e100;
}
#bulbasours{
    background-color: #7cbeb3;
}
#charmander{
    background-color: #ef8200;
}
#bulbabtn{
    background-color: #68ae28;
}
#charbtn{
    background-color: #e50020;
}
#squirbtn{
    background-color: #84cabf;
}

.expandir{
    transition: 2s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
}


button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
}

@media (max-width: 600px){
   div{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}